.clearfix::after {
    clear: both;
    content: "";
    display: block;
  }

.container {
    margin: auto;
    width: 960px;
}

.label {
    text-align: center;
    font-size: 1.5em;
}

#relative {
    background-color: #eee;
    padding-top: 50px;
    height: 200px;
    position: relative;
}

#absolute {
    background-color: #999;
    padding: 0 25px;
    position: absolute;
    bottom: 0px;
    right: -40px;
}

#fixed {
    background-color: #eee;
    position: fixed;
    height: 150px;
    width: 300px;
    top: 0;
    left: 0;

}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}